

html,body{
    display: flex;
    justify-content: center;
    align-items: center;

}

.main{
    margin: 25px;
    min-height: 100%;
}

.container1{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container2{
    position: relative;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.line1{
    font-style: italic;
   
}

.line2{
    font-weight: bold;
    padding-top: 5px;
}

checkedPoints,mark{
    background-color: orange;
    color: white;
    border-radius: 2px;
    font-size: smaller;
}

